.dsx-navbar.-visible
    .dsx-navbar-bg
        .dsx-navbar-bg-inner
    .dsx-navbar-inner
        .dsx-navbar-left
            .dsx-navbar-logo
                a(href="/")
                    +svgsprite("dsx")
        .dsx-navbar-right
            .dsx-navbar-close
                a(href="")
                    +svgsprite("times-thin")