extends /_includes/layout.jade

block title
    title DSX
    meta(name="description", content="")

    - LOGIN = true;

block content
    .dsx-wrap-outer
        .dsx-wrap
            .dsx-wrap-inner.-tertiary
                .dsx-login
                    .dsx-login-header
                        .dsx-login-header-title
                            .dsx-login-header-title-action
                                a(href="")
                                    +svgsprite("long-arrow-left")
                                    h2 Restore password


                    .dsx-login-email
                        fieldset.dsx-form-input-container.-primary
                            input.dsx-form-input.-transparent
                            legend.dsx-form-input-container-label email

                    .dsx-login-action
                        button.dsx-button.-secondary.-animated(type='button')
                            span Restore
                            +svgsprite("chevron-right")