extends /_includes/layout.jade

block title
    title DSX
    meta(name="description", content="")

    - LOGIN = true;

block content
    .dsx-wrap-outer
        .dsx-wrap
            .dsx-wrap-inner.-tertiary
                include _includes/d3-chart