.dsx-chart{

    &-container{
        max-height: 220px;
        //position: relative;
        //width: 100%;

        @media only screen and (min-width: $screen-sm) and (max-width: $screen-lg){
            float: left;
            max-width: 50%;
            position: relative;
        }

        @media only screen and (min-width: $screen-lg) {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: -5px;
        }

        @media only screen and (min-width: $screen-lg) and (max-width: $screen-xl){
            max-width: 1100px;
        }

        @media only screen and (min-width: $screen-xl){
            max-width: 1338px;
        }

        &:after{
            height: 150%;
            width: 1px;
            right: 81px;
            bottom: 0;
            content: "";
            display: block;
            position: absolute;

            background: $color-base; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(rgba(255,255,255,.01), rgba(255,255,255,.3)); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(rgba(255,255,255,.01), rgba(255,255,255,.3)); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(rgba(255,255,255,.01), rgba(255,255,255,.3)); /* For Firefox 3.6 to 15 */
            background: linear-gradient(rgba(255,255,255,.01), rgba(255,255,255,.3)); /* Standard syntax */
        }
    }
}

.highchart-sublabel{
    font-size: 12px;
    letter-spacing: 1.11px;
    opacity: 0.5;
    margin-top: -10px;
    display: inline-block;
}
