.dsx-enumeration{

    &-list{
        &-header{
            font-size: 13px;
            position: relative;

            &:before{
                position: absolute;
                height: 1px;
                left: -50px;
                content: "";
                display: block;
            }
        }
    }

    &.-primary &-list{

        li{
            padding-left: 50px;
            margin-bottom: 27px;
        }

        &-header{
            letter-spacing: 1.66px;
            font-weight: bold;
            color: $color-base;
            text-transform: uppercase;
            display: block;
            margin-bottom: 9px;

            &:before{
                background-color: #fff;
                top: 50%;
                width: 30px;
            }
        }

        &-content{
            letter-spacing: 0.5px;
            color: rgba(255,255,255,.6);
            line-height: 20px;
        }
    }

    &.-secondary &-list{

        li{
            padding-left: 30px;
            margin-bottom: 20px;
        }

        &-header{
            letter-spacing: 0.46px;
            line-height: 18px;
            color: $color-black;

            &:before{
                background-color: rgba(0,0,0,.2);
                top: 9px;
                width: 15px;
                left: -29px;
            }
        }
    }
}